.inline-block {
    display: inline-block;
    vertical-align: top;
    padding-right: 20px;
    color: #4B1515;
}
.logo {
    width: 23%;
    padding: 1%;
    text-align: end;
}
.navigation {
    display: flex;
    background-color:white;
    font-family: "source-sans-3", sans-serif;
    font-weight: 400;
    font-style: normal;
}
nav {
    width: 98%;
    padding: 1%;
    text-align: end;
    margin-left: auto;
}
.container {
    position: relative;
    text-align: center;
    font-family: utopia-std-caption, serif;
    font-weight: 700;
    font-style: italic;
    font-size: 50px;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}  
ul {
    width: 50%;
    margin-left: auto;
    padding-left: 10px;
}
.heroImg {
    height: 600px;
    padding: 25px;
}
.content {
    width: 800px;
    height: 450px;
    margin: 0 auto;
    display: flex;
}
footer {
    background-color: white;
    font-family: "source-sans-3", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}
ul {
    display: inline-block;
    vertical-align: top;
}
.hoverme {
    background-color: #F7DDD4;
    padding: 10px 20px;
    border: none;
    transition: 0.3s;
    border-radius: 16px;
}
.hoverme:hover {
    background-color:#F1D8CF;
    font-weight: bold;
    font-style: italic;
}
h1 {
    background-color: #EDF3E7;
    border: 100px solid #EDF3E7;
    text-align: center;
    font-family: utopia-std-caption, serif;
    font-weight: 700;
    font-style: italic;
    font-size: 50px;
    color: #4B1515;
}
.about {
    color: #315516;
    font-family: "source-sans-3", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-left: 100px;
    text-align: center;
    width: 90%;
}
button {
    color:#4B1515;
}
#check {
    margin-top: 20px;
}
.buttons {
    font-family: "source-sans-3", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin-right: 465px;
    padding: 25px;
}
.email {
    font-family: "source-sans-3", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: #4B1515;
}
.description {
    color: #315516;
    font-family: "source-sans-3", sans-serif;
    font-weight: 400;
    font-style: normal;
}
h2 {
    text-align: center;
    font-family: "utopia-std-display", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
    color: #4B1515;
}
h3 {
    text-align: center;
    font-family: utopia-std-subhead, serif;
    font-weight: 600;
    font-style: italic;
    font-size: 26px;
    color: #4B1515;
}
.flexContainer {
    display: flex;
    width: 40%;
    flex-direction: row;
    text-align: center;
    color: #315516;
    font-family: "source-sans-3", sans-serif;
    font-weight: 400;
    font-style: normal;
    justify-content: space-between;
    margin: auto 420px;
}
.workGrid {
    display: grid;
    grid-template-areas: 'myArea';
    grid-template-columns: 500px 400px;
    justify-content: center;
}
.cooka {
    grid-area: myArea;
}
.abags {
    grid-area: myArea myArea;
}
.doe {
    grid-area: myArea myArea myArea;
}
h4 {
    font-family: utopia-std-subhead, serif;
    font-weight: 600;
    font-style: italic;
    font-size: 26px;
    color: #4B1515;
    margin-top: 60px;
}
.smile {
    color:#4B1515;
    margin-top: 10px;
}
@media only screen and (max-width: 600) {
    .flexContainer {
        flex-direction: column;
        width: 100%;
    }
    .workGrid {
        grid-template-columns: 1fr;
        grid-template-rows: 300px 300px 300px 300px 300px;
        grid-template-areas: "cooka" "abags" "doe";
    }
}